player-connection-mode=Listen
player-connection-guid=1859137568
player-connection-debug=0
player-connection-project-name=BistroBuilder
player-connection-ip=192.168.135.1
player-connection-ip=192.168.239.1
player-connection-ip=172.16.10.233
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=62d2915ff51f444b89fda6f872095f28
